#timeline-wrap {
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;
}

#timeline {
    height: 4px;
    width: 80%;
    margin-left: 40px;
    margin-right: 60px;
    background-color: #aabbc4;
    position: relative;
}

.marker {
    z-index: 1000;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    position: absolute;
    margin-left: 40px;
    background-color: #999999;
    border-radius: 50%;
    margin-top: 40px;
}

.marker:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.timeline-icon.one {
    background-color: #7f7f7f !important;
}

.timeline-icon.two {
    background-color: #7f7f7f !important;
}

.timeline-icon.three {
    background-color: #7f7f7f!important;
}

.timeline-icon.four {
    background-color: #7f7f7f !important;
}

.mfirst {
    top: -55px;
}

.m2 {
    top: -55px;
    left: 15%
}

.m3 {
    top: -55px;
    left: 30%
}

.mlast {
    top: -55px;
    left: 45%
}

.mlast1 {
    top: -55px;
    left: 60%
}

.timeline-panel {
    margin-top: 0px;
    width: 500px;
    height: 100px;
    background-color: #cbd0df;
    border-radius: 2px;
    position: relative;
    text-align: left;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    float: left;
}

.timeline-panel:after {
    content: '';
    position: absolute;
    margin-top: 0;
    left: 10%;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom: 15px solid #cbd0df;
}