.dash-page{
    background-color: rgb(248, 248, 255);
    font-family: sans-serif;
    font-weight: bold;
}

#overall-projects,#overall-bids{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

#project-id,#bid-id{
    display: inline-block;
    padding: 20px;
    background-color: white;
    box-shadow: 3px 3px 8px lightgrey;
    width: 200px;
    border-radius: 20px;
    text-align: center;
}
#project-id span{
    display: block;
}
#bid-id span{
    display: block;
}
.finance{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}
#finance-graph,#finance-details{
    display: inline-block;
    padding: 20px;
    background-color: white;
    box-shadow: 3px 3px 8px lightgrey;
    border-radius: 20px;
}
#finance-details-body{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
#finance-details div{
    margin: 30px 20px;
}
#finance-details span{
    display: block;
    font-size: 25px;
}